---
---
{% include menu.html title="Kevin Luzbetak - Computer Science" %}

<hr align=left width=1100>
<h1 align=center>Machine Learning, Large Language Models (LLMs)</h1>

<p><hr align=left width=1100>
<h2>RAG, Llama 3.2, FAISS, Embeddings</h2>
<table width="1100" border="0">
    <tr>
        <td valign=top width=33%>
            <ul>
                <li><a href="Retrieval-Augmented-Generation.html"><font color=red>RAG</font> Retrieval-Augmented Generation</a>
                <span class="comment">RAG retrieving relevant documents from an external knowledge base (e.g., vector database).</span></li>
                <li><a href="faiss"><font color=red>RetrievalQA</font> with FAISS, Embeddings</a></li>
                <span class="comment">Question-answering framework that leverages retrievers like <strong>FAISS</strong> vector databases to find relevant documents</span></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="/ai/Streamlit-app.html">Streamlit</a>
                    <span class="comment">Python library that makes it easy to build custom web applications for data science and machine learning projects</span>
                </li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="NVIDIA-GeForce-RTX-3060-Installation.html">NVIDIA GeForce RTX 3060 Installation</a></li>
                <li><a href="Recompile-FAISS-GPU-Installation.html">Recompile FAISS GPU Installation</a></li>
            </ul>
        </td>
    </tr>
</table>

<p><hr align=left width=1100>
<h2>Machine Learning</h2>
<table width="1100" border="0">
    <tr>
        <td valign=top width=33%>
            <ul>
                <li><a href="Scikit-learn.html" taget="_blank"><font color=red>Scikit-learn</font></a>
                <span class="comment">Tools for data analysis and modeling, Random Forest Classifier, Predictions</span></li>
                <li><a href="Keras.html" taget="_blank"><font color=red>Keras</font> - Deep Learning</a>
                    <span class="comment">Library for building and training blocks of <font color=yellow>Neural Networks</font>, Dense, Conv2D, LSTM etc.</span></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="PyTorch.html"><font color=red>PyTorch</font> Library</a></li>
                <li><a href="PyTorch-Sentiment-Analysis-Model.html"><font color=red>PyTorch</font> Sentiment Analysis Model</a></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="Tensors-Machine-Learning.html" taget="_blank"><font color=red>Tensors</font> Multi-Dimensional Arrays</a>
                    <span class="comment">
                        <font color=yellow>Images</font> (3D)
                        <font color=yellow>Videos</font> (4D)
                        <font color=yellow>NLP</font> (High-Dimensional)  
                </span></li>
                <li><a href="Vector-Database.html"><font color=red>Vector</font> Databases</a></li>
            </ul>
        </td>
    </tr>
</table>


<hr align=left width=1100>
<h2>Natural Language Processing (NLP)</h2>
<table width="1100" border="0">
    <tr>
        <td valign=top width=33%>
            <ul>
                <li><a href="Random-Forest-Classifier-Model.html">Random Forest Classifier</a></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="Gunning-Fog-Index.html">Gunning Fog Index</a></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="Vector-Database.html">Vector Database</a></li>
            </ul>
        </td>
    </tr>
</table>


<p><hr align=left width=1100>
<h2>Computer Vision</h2>
<table width="1100" border="0">
    <tr>
        <td valign=top width=33%>
            <ul>
                <li><a href="Time-Complexity-Big-O-Notation.html" taget="_blank">Big O-Notation Time Complexity</a></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="Stable-Diffusion-Web-UI.html" taget="_blank">Stable Diffusion</a></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="Hugging-Face-Machine-Learning.html" taget="_blank">Hugging Face Machine Learning</a></li>
            </ul>
        </td>
    </tr>
</table>

<hr align=left width=1100>

<h2>Visualization</h2>
<table width="1100" border="0">
    <tr>
        <td valign=top width=33%>
            <ul>
                <li><a href="https://github.com/luzbetak/visualizations/blob/master/Outliers_d3.js.ipynb" taget="_blank">Identifying and Analyzing Outliers</a></li>
            </ul>
        </td>
        <td valign=top width=33%>
        </td>
        <td valign=top width=33%>&nbsp;&nbsp;&nbsp;
        </td>
    </tr>
</table>

<p><hr align=left width=1100>
<h2>Information Retrieval Systems</h2>
<table width="1100" border="0">
    <tr>
        <td valign=top width=33%>
            <ul>
                <li><a href="TF-IDF.html">TF-IDF</a>
                <span class="comment">(Term Frequency-Inverse Document Frequency)</span></li>
            </ul>
        </td>
        <td valign=top width=33%> 
            <ul>
                <li><a href="bm25-probabilistic-information-retrieval-model.html">BM25 (Best Matching 25)</a>
                <span class="comment">BM25 (Best Matching 25) probabilistic information retrieval model.</span></li>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
                <li><a href="python-whoosh.html">Whoosh BM25</a>
                <span class="comment">Python B-Tree Index using BM25</span></li>
            </ul>
        </td>
    </tr>
</table>


{% include footer.html %}

