---
---
{% include menu.html title="Llama 3.2 with RAG" %}
<hr align=left width=1100>

<h2>RAG - FAISS Retrieval with OpenAI and GPT-4</h2>
<table width="1100" border="0">
    <tr>
        <td valign=top width=33%>
            <ul>
                <li><a href="Gmail-Email-Fetch.html">Fetch Emails from Gmail</a></li></li>
                <li><a href="Indexing-FAISS-OpenAI-Embeddings.html">Indexing FAISS with OpenAI Embeddings</a></li>
                <li><a href="RetrievalQA-FAISS-with-OpenAI-GPT-4.html">RetrievalQA from FAISS with OpenAI GPT-4</a></li>

            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
            </ul>
        </td>
        <td valign=top width=33%>
            <ul>
            </ul>
        </td>
    </tr>
</table>

{% include footer.html %}

